.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    color: #45474B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}
  
.myToggle {
    margin-top: 20px;
    margin-left: 20px;
}

.toggleGroup {

    border-radius: 12px;
}
  
.toggleButton {
    color: #45474B;
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 4px 2px;
    transition: background-color 0.3s, transform 0.3s;
  
    &.Mui-selected {
      background-color: #949494;
    }
  
    &:hover {
      background-color: #949494;
      transform: scale(1.05);
    }
}

@media (max-width: 600px) {
    .myToggle {
        margin-top: 10px;
        margin-left: 10px;
    }

    .toggleButton {
        color: #45474B;
        font-size: 0.9rem;
        border: none;
        border-radius: 8px;
        padding: 4px 20px;
        margin: 0 2px;
    }
}